<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  
<br></button>
  <a class="navbar-brand" href="/">Belt Exam</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" asp-controller ="Belt" asp-action="Dash">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="Login">Sign In</a>
    </div>
  </div>
</nav><br>
<!-- =============================================================================================== -->
<!-- =============================================================================================== -->

      <div class="jumbotron">
        <h2>Welcome to Jeff's Auction</h2><br>
        <p class="lead"> Belt Exam for C#/ASP.net/ENtityFramework Core</p> 
        
        <a class="btn btn-primary btn-lg" href="Register" role="button">Start</a>
      </div>
<!-- =============================================================================================== -->
<!-- =============================================================================================== -->
         
          <div class="row">

            <div class="col-sm">
              <h4>Login/Register</h4>
              <p>Users can create an account with login and registration validations. All users will start with a wallet amount of $1000</p>
            </div>

            <div class="col-sm">
              <h4>Create Auction</h4>
              <p>Users Can create an auction with any item of their choice at the price of their choice.</p>
            </div>

            <div class="col-sm">
              <h4>Bid!</h4>
              <p>User can bid on other user's auctioned off items. The amount the user bids will be deducted from their wallet until auction ends. At the end of the set auction date, highest bidder wins.</p>
            </div>

          </div>